<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DETAILS QUESTION</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-image: url('/img/background.JPG')">


<div class="container">
    <div class="row mt-5">
        <div class="col-lg-10 offset-1">
            <div class="jumbotron">

                <h1 class="display-6">Szczegóły pytania</h1>
                <hr class="my-6">
                <p class="lead"><b>Kategoria:</b> <span th:text="${question.category.name}"></span></p>
                <hr class="my-6">
                <p class="lead"><b>Poziom trudności:</b> <span th:text="${question.level.name}"></span></p>
                <hr class="my-6">
                <p class="lead"><b>Treść pytania:</b> <span th:text="${question.text}"></span>

                    <br>
                <div th:if="${question.filename != ''}"><img
                        th:src="@{/img/{picname}(picname=${question.filename})}" class="img-fluid img-thumbnail"
                        alt="Responsive image"/></div>
                </p>

                <hr class="my-6">
                <p class="lead"><b>Odpowiedź prawidłowa:</b>
                <p class="lead" th:each="a : ${question.answers}"><span th:if="${a.getCorrect()}"
                                                                        th:text="${a.text}"></span>
                </p>
                <hr class="my-6">
                <p class="lead"><b>Odpowiedzi nieprawidłowe:</b>
                <p class="lead" th:each="a : ${question.answers}"><span th:if="${!a.getCorrect()}"
                                                                        th:text="${a.text}"></span>
                </p>
                <br>
                <a class="btn btn-secondary btn-lg" th:href="@{/configuration/all_questions}">Powrót</a>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>