<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT CATEGORY</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-image: url('/img/background.JPG')">

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-10 offset-1">
            <div class="jumbotron">
                <h1 class="text-info mb-3">
                    <a class="btn btn-primary" th:href="@{/configuration/insert_question}">Powrót</a>
                    Kategorie
                </h1>

                <table class="table table-lg table-light">
                    <thead>
                    <th>Nazwa</th>
                    <th>Ilość pytań</th>
                    <th>Opcje</th>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${map}">
                        <td th:text="${c.key.name}"></td>
                        <td th:text="${c.value}"></td>
                        <td>
                            <a class="btn btn-outline-warning"
                               th:href="@{/configuration/modify_category/{i}(i=${c.key.id})}">Modyfikuj</a>
                            <form style="display: inline-block" th:action="@{/configuration/delete_category}"
                                  method="post" th:if="${c.value == 0}">
                                <input type="text" name="id" th:value="${c.key.id}" hidden="hidden"
                                       readonly="readonly"/>
                                <button class="btn btn-outline-danger" type="submit">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h3 class="text-info mb-3">Dodawanie kategorii</h3>

                <form th:action="@{/configuration/edit_category}" method="post" th:object="${category}">
                    <div class="form-group">
                        <label for="name" class="h4 text-info">Nazwa:</label>
                        <input id="name" type="text" class="form-control" th:field="*{name}" required="required"/>
                    </div>
                    <!--Przyciski-->
                    <br>
                    <a class="btn btn-primary btn-lg" th:href="@{/configuration/insert_question}">Powrót</a>
                    <button class="btn btn-success btn-lg" type="submit">Dodanie kategorii</button>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>